/* UNIVERSAL STYLES */
 .center {
    margin-right: auto;
    margin-left: auto;
}

.italic {
    font-style: italic;
    text-decoration: none;
}
/* ELEMENT STYLES */
 h2,  h4{
    text-align: center;
    font-family: sans-serif;
    color: #cb49a8;
}

p {
    text-align: center;
    font-family: sans-serif;
    line-height: 16pt;
    color: #666666;
}

/* BOARD STYLES */
 #board-outer {
    height: 250px;
    width: 250px;
    background-color:none;
    overflow: hidden;
}
#board {
    width: 255px;
    height: 255px;
    background-color:none;
    border-spacing:0;
    margin-left: -2px;
    margin-top: -2px;
}
td {
    height: 80px; /*set the square position in the proportion with the pink line */
    width: 80px;/*set the square position in the proportion with the pink line */
    text-align: center; /*the cute center */
    font-family: sans-serif;
    /*font-size: 40pt; */
    /*border-collapse: collapse;*/
    border: 2px solid #cb49a8; /* pink lines */
    text-transform: uppercase;
    color: #999999;
}
input
	{
	width:60px;
	height:60px;
	border:1px solid #ece0e9;
	font-size:40px;
	}






